@charset "utf-8";
/*webfont*/
@font-face {
    font-family: 'ChosunCentennial';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
    display: block;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 24px;
    color: #333;
}

#wrap {
    min-width: 1360px;
}

.top_btn{
    position: fixed;
    bottom: 14px;
    right: 10px;
    z-index: 9;
}

/*header*/
.header_fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: #fff;
}

.header_scroll {
    background-color: rgba(233, 241, 230, 0.7);
    transition: all .5s;
}

header {
    width: 1320px;
    margin: 0 auto;
    height: 88px;
}

/*top*/
.top {
    height: 34px;
    position: relative;
}

.top_left {
    float: left;
}

.top_left a {
    float: left;
    font-size: 11px;
    border: 1px solid #679267;
    border-top: none;
    border-radius: 0px 0px 16px 16px;
    padding: 0 14px 4px 14px;
    margin-right: 14px;
}

.top_left a:hover {
    background-color: #679267;
    color: #fff;
    padding-top: 10px;
    transition: all .3s;
}

.top_right {
    float: right;
    margin-top: 4px;
}

.top_right div {
    float: left;
    margin-left: 22px;
}

.icon_wrap {
    width: 18px;
}

.top_right img {
    vertical-align: middle;
    width: 100%;
}

/*logo*/
.logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -55px;
}

/*gnb*/
.gnb {
    height: 36px;
    padding-top: 12px;
}

.left_gnb>li {
    float: left;
}

.left_gnb>li>a::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #679267;
    margin-right: 100px;
}
.left_gnb>li>a::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #679267;
    margin-left: 100px;
}

.right_gnb {
    float: right;
}

.right_gnb>li {
    float: left;
}

.right_gnb>li>a::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #679267;
    margin-right: 100px;
}
.right_gnb>li>a::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #679267;
    margin-left: 100px;
}
.left_gnb>li:nth-child(1)>a::after,
.right_gnb>li:nth-child(1)>a::after {
    opacity: 0;
}

.left_gnb>li>a,
.right_gnb>li>a {
    padding: 4px 0 14px 0;
}

.gnb>ul>li>a:hover {
    color: #679267;
}

.gnb>ul>li {
    position: relative;
}

.submenu {
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 99;
    background-color: #fff;
    width: 100%;
}
.submenu li{
    position: relative;
}
.submenu li a {
    padding: 7px 8px;
}
.submenu li a span {
    font-size: 12px;
    opacity: .7;
}
.submenu li a:hover {
    color: #1eb78c;
}
.submenu li a:hover span {
    opacity: 1;
}

.inner_submenu{
    position: absolute;
    top:-1px;
    right: -185px;
    z-index: 999;
    width: 80%;
    background-color: #fff;
}

/*banner*/
* {
    margin: 0;
    padding: 0;
}

#slide {
    height: 800px;
    margin: 0 auto;
    padding-top: 90px;
    text-align: center;
}

.swiper {
    width: 100%;
    height: 100%;
}

/*section1*/
#section1 {
    width: 1320px;
    margin: 0px auto;
    height: 960px;
    padding: 120px 0 80px 0;
}

.sec1_top {
    height: 72px;
}

.tit_area {
    float: left;
}

.tit_area p {
    float: left;
}

.title {
    font-size: 28px;
    font-weight: bold;
}

.more {
    margin-left: 30px;
}

.more img {
    transform: translateX(0px);
    transition: transform .5s;
}

.more a:hover img {
    transform: translateX(16px);
    transition: transform .5s;
}

.item_tap {
    float: right;
}

.item_tap p {
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

.item_tap p span {
    font-size: 14px;
}

.item_on{
    font-weight: bold;
}

#item_list {
    width: 1280px;
    height: 870px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.item_wrap {
    width: 260px;
}

.swiper2 {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.swiper2 .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: top;
}

.swiper2 .swiper-slide img {
    display: block;
    width: 260px;
    height: 300px;
    object-fit: cover;
    margin: 40px 0 10px 0;
}
.new{
    font-size: 12px;
    background-color: #0F3A24;
    color: #fff;
    padding: 2px 6px 4px;
    font-weight: bold;
    margin-right: 2px;
}

/*section2*/
#section2 {
    background: url(../images/main/section2/watercolor_mountain.png) no-repeat center;
    height: 496px;
}

.choose_tea {
    width: 1320px;
    margin: 0 auto;
}

.choose_tea .title {
    color: #51877C;
    padding: 30px 0 30px 0;
}

.tea_color {
    height: 320px;
    margin-top: 40px;
}

.tea_color div {
    width: 110px;
    float: left;
    text-align: center;
    position: relative;
}

.tea_wrap {
    width: 110px;
}

.tea_wrap img {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.name_bar {
    width: 40px;
    height: 250px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #afbc8e;
    background-color: rgba(255, 255, 255, .5);
    display: inline-block;
    transition: transform .5s;
}

.under {
    margin-top: 70px;
}

.tea_color div a:hover .name_bar {
    transform: translateY(-20px);
    transition: transform .3s;
}
.sejak a:hover .name_bar {
    background-color: rgba(225, 230, 198, 0.8);
    color: green;
}
.young a:hover .name_bar {
    background-color: rgba(200, 230, 198, 0.8);
    color: green;
}
.middle a:hover .name_bar {
    background-color: rgba(166, 199, 172, 0.8);
    color: green;
}
.matcha a:hover .name_bar {
    background-color: rgba(92, 128, 103, 0.8);
    color: #f9f3f3;
}
.jasmin a:hover .name_bar {
    background-color: rgba(210, 201, 154, 0.8);
    color: rgb(41, 81, 109);
}
.hoji a:hover .name_bar {
    background-color: rgba(151, 128, 83, 0.8);
    color: #f9f3f3;
}
.oolong a:hover .name_bar {
    background-color: rgba(235, 214, 171, 0.8);
    color: #584017;
}
.black a:hover .name_bar {
    background-color: rgba(213, 120, 120, 0.8);
    color: #f9f3f3;
}
.pumkin a:hover .name_bar {
    background-color: rgba(230, 138, 59, 0.8);
    color: #f9f3f3;
}
.corn a:hover .name_bar {
    background-color: rgba(233, 229, 105, 0.8);
    color: #584017;
}
.ssuk a:hover .name_bar {
    background-color: rgba(75, 92, 82, 0.8);
    color: #f9f3f3;
}
.lemon a:hover .name_bar {
    background-color: rgba(247, 226, 109, 0.8);
    color: #85852e;
}

/*section3*/
.sec3_wrap{
    width: 1920px;
}

#section3 {
    width: 1360px;
    margin: 0 auto;
    height: 565px;
    padding: 80px 0;
    box-sizing: border-box;
}
.inner_section3{
    width: 1320px;
    margin: 0 auto;
}

#section3 img {
    display: block;
}

#section3 .left_event {
    float: left;
}

.sale_wrap {
    position: relative;
}

.sale_tx {
    position: absolute;
    top: 70px;
    right: 60px;
}

.sale_tx P {
    padding-bottom: 34px;
}

.sale_tx em {
    font-style: normal;
    font-size: 22px;
    text-decoration: line-through;
    padding-right: 20px;
}

.sale_tx b {
    font-size: 33px;
    color: #761313;
}

#section3 .right_event {
    float: right;
}

.coupon_wrap {
    position: relative;
}

.coupon_tx {
    position: absolute;
    top: 40px;
    left: 20px;
}

.event_wrap {
    position: relative;
}

.event_tx {
    position: absolute;
    top: 70px;
    left: 20px;
}

.event_tx p{
    color: #ffffff;
    text-shadow: 1px 1px 1px #f45959;
}

.right_event .event_wrap {
    margin-top: 20px;
}

/*section4*/
#section4 {
    background-image: url(../images/main/section4/attachment.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 600px; */
    height: 620px;
    padding-top: 100px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}

.inner_section4 {
    width: 1100px;
    margin: 0 auto;
    height: 410px;
    background-color: rgba(0, 0, 0, .4);
}

.inner_section4 h1 {
    padding: 30px 0 20px 0;
    line-height: 60px;
    font-family: 'ChosunCentennial';
    letter-spacing: 0px;
    font-size: 40px;
}

.inner_section4 p {
    font-size: 20px;
    line-height: 34px;
}

.go_tap {
    float: right;
    padding-top: 30px;
}

.go_tap li {
    float: left;
}

.go_tap li a {
    color: #fff;
    margin-right: 26px;
}

.go_tap a img {
    transform: translateX(0px);
    transition: transform .5s;
}

.go_tap a:hover img {
    transform: translateX(13px);
    transition: transform .5s;
}

/*section5*/
#section5 {
    width: 1280px;
    margin: 0 auto;
    height: 768px;
    padding: 80px 0;
    box-sizing: border-box;
}

.together {
    padding: 50px 0 0 20px;
    text-align: center;
    height: 244px;
}

.together li {
    width: 200px;
    float: left;
    padding-right: 50px;
}

.together li a img {
    border-radius: 30px;
    transition: border-radius .2s;
}

.together li a:hover img {
    border-radius: 50%;
    transition: border-radius .2s;
}

.together li a:hover {
    color: aqua;
}

.together2 {
    padding: 50px 20px 0 0;
}

.together2 li {
    padding: 0 0 0 52px;
}

/*section6*/
#section6 {
    background: url(../images/main/section6/group_purchases.png) no-repeat center;
    height: 300px;
}

.group_tap img {
    transform: translateX(0px);
    transition: transform .5s;
}

#section6 a:hover .group_tap img {
    transform: translateX(13px);
    transition: transform .5s;
}

.inner_section6 {
    width: 1280px;
    margin: 0 auto;
    height: 300px;
    padding-top: 110px;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 2px 2px 12px #04251d;
}

.sub_tit {
    padding-top: 10px;
}

/*section7*/
#section7 {
    width: 1280px;
    margin: 0 auto;
    height: 670px;
    padding: 80px 0;
    box-sizing: border-box;
}

.sub_area .sub_tit {
    display: inline-block;
}

.recipe_more {
    display: inline-block;
    margin: 0 20px 0 866px;
}

.recipe_wrap {
    width: 1280px;
    height: 412px;
    margin-top: 20px;
}

.recipe_wrap img {
    display: block;
}

.re_collection {
    width: 589px;
    height: 412px;
    float: left;
}

.re_collection2 {
    width: 670px;
    height: 412px;
    float: right;
}

.inner_left {
    float: left;
}

.inner_right {
    float: right;
}

.recipe3 {
    margin-top: 20px;
}

.recipe5 {
    float: left;
    margin: 0 20px 20px 0;
}

.recipe7 {
    clear: both;
}

.recipe {
    position: relative;
    overflow: hidden;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 37px;
}
.cover_tx{
    transform: translateY(-20px);
    opacity: 0;
}
.recipe img{
    transition: transform .3s;
}
.cover a {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 4px 40px;
    font-size: 14px;
    margin-top: 20px;
    transform: translateY(30px);
    opacity: 0;
}

.recipe:hover .cover {
    opacity: 1;
    transition: all .5s;
}
.recipe:hover .cover_tx{
    transform: translateY(0px);
    transition: transform .4s;
    opacity: 1;
}
.recipe:hover img {
    display: block;
    transform: scale(1.2);
    transition: transform .5s;
}
.recipe:hover .cover a{
    transform: translateY(0px);
    transition: transform .4s;
    opacity: 1;
}

.recipe1 .cover,
.recipe4 .cover {
    padding-top: 120px;
}

.cover p span {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.cover a:hover {
    background-color: #fff;
    color: #04251d;
}

/*footer*/
footer {
    background-color: rgba(233, 241, 230, 0.7);
    text-align: center;
    border-top: 2px solid #679267;
    color: rgba(#333, .5);
    font-size: 15px;
}

.inner_footer {
    width: 1320px;
    margin: 0 auto;
    height: 270px;
    padding: 20px;
    box-sizing: border-box;
}

.inner_footer li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 50px;
    text-align: left;
}

.inner_footer a {
    display: inline-block;
    color: rgba(#333, .5);
    margin: 4px 0;
}

.foot3 span {
    font-size: 24px;
    padding-left: 10px;
}

.foot3 .address {
    padding-top: 30px;
}

footer a:hover {
    color: #16a772;
    font-weight: bold;
}

.input_wrap {
    width: 200px;
    margin: 6px 0;
}

input {
    border: none;
    display: inline-block;
    padding: 6px 20px 6px 6px;
    outline: none;
}

.confetti_wrap {
    position: relative;
}

.confetti_wrap canvas {
    position: absolute;
    width: 400px;
    height: 400px;
    transform: translate(-57%, -50%);
    pointer-events: none;
}

.confetti {
    padding: 2px 16px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 30px;
    border: none;
    background-color: #65af8f;
    box-shadow: 2px 2px 1px #081b21;
    color: #ffffff;
}

.confetti:hover {
    transform: translate(2px);
    box-shadow: none;
}

.sns {
    padding-top: 16px;
}

.copyright {
    background-color: #679267;
    height: 30px;
    text-align: center;
    padding-top: 2px;
    box-sizing: border-box;
    font-size: 12px;
    color: rgba(255, 255, 255, .7);
}
