@charset "utf-8";

/*webfont*/
@font-face {
    font-family: 'ChosunCentennial';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
    display: block;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 24px;
    color: #333;
}

#wrap {
    min-width: 1360px;
}

.top_btn {
    position: fixed;
    bottom: 14px;
    right: 10px;
    z-index: 9;
}

/*header*/
.header_fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: #fff;
}

.header_scroll {
    background-color: rgba(233, 241, 230, 0.7);
    transition: all .5s;
}

header {
    width: 1320px;
    margin: 0 auto;
    height: 88px;
}

/*top*/
.top {
    height: 34px;
    position: relative;
}

.top_left {
    float: left;
}

.top_left a {
    float: left;
    font-size: 11px;
    border: 1px solid #679267;
    border-top: none;
    border-radius: 0px 0px 16px 16px;
    padding: 0 14px 4px 14px;
    margin-right: 14px;
}

.top_left a:hover {
    background-color: #679267;
    color: #fff;
    padding-top: 10px;
    transition: all .3s;
}

.top_right {
    float: right;
    margin-top: 4px;
}

.top_right div {
    float: left;
    margin-left: 22px;
}

.icon_wrap {
    width: 18px;
}

.top_right img {
    vertical-align: middle;
    width: 100%;
}

/*logo*/
.logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -55px;
}

/*gnb*/
.gnb {
    height: 36px;
    padding-top: 12px;
}

.left_gnb>li {
    float: left;
}

.left_gnb>li>a::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #679267;
    margin-right: 100px;
}

.left_gnb>li>a::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #679267;
    margin-left: 100px;
}

.right_gnb {
    float: right;
}

.right_gnb>li {
    float: left;
}

.right_gnb>li>a::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #679267;
    margin-right: 100px;
}
.right_gnb>li>a::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #679267;
    margin-left: 100px;
}
.left_gnb>li:nth-child(1)>a::before,
.left_gnb>li:nth-child(1)>a::after,
.left_gnb>li:nth-child(2)>a::after,
.right_gnb>li:nth-child(1)>a::before,
.right_gnb>li:nth-child(1)>a::after,
.right_gnb>li:nth-child(2)>a::after{
    opacity: 0;
}

.left_gnb>li>a,
.right_gnb>li>a {
    padding: 4px 0 14px 0;
}

.gnb>ul>li>a:hover {
    color: #679267;
}

.gnb>ul>li {
    position: relative;
}

.submenu {
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 99;
    background-color: #fff;
    width: 100%;
}
.submenu li{
    position: relative;
}
.submenu li a {
    padding: 7px 8px;
}
.submenu li a span {
    font-size: 12px;
    opacity: .7;
}
.submenu li a:hover {
    color: #1eb78c;
}
.submenu li a:hover span {
    opacity: 1;
}

.inner_submenu{
    position: absolute;
    top:-1px;
    right: -185px;
    z-index: 999;
    width: 80%;
    background-color: #fff;
}


/*container*/
#container {
    width: 1320px;
    margin: 0 auto;
}

.lnb{
    position: fixed;
    top: 120px;
    left: 30px;
    z-index: 99;
}
.lnb li a{
    border: 1px solid #679267;
    border-radius: 30px;
    padding: 0 6px;
    margin: 5px 0;
    display: inline-block;
    position: relative;
    overflow-x: hidden;
    background-color: #ffffff7d;
}
.lnb li a::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #387734;
    transition: all .5s;
    z-index: -1;
    border-radius: 30px;
}
.lnb li a:hover{
    color: #fff;
}
.lnb li a:hover::before{
    transform: translateX(100%);
}
.lnb li a span{
    font-size: 12px;
}
.lnb_leaf{
    width: 20px;
}

.order{
    position: fixed;
    top: 120px;
    right: 38px;
}
.name{
    font-size: 20px;
}
.order li span{
    font-size: 12px;
    background-color: #0F3A24;
    color: #fff;
    padding: 2px 6px 4px;
    font-weight: bold;
    margin-right: 2px;
}
.price{
    font-size: 33px;
    padding-top: 20px;
}
.detail{
    border-top: 1px solid #1C4419;
    font-size: 18px;
    font-weight: bold;
    padding: 14px 0;
    margin-top: 24px;
}
.count{
    border: 1px solid #1C4419;
    border-left: none;
    border-right: none;
    padding: 14px 0;
    margin: 14px 0;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
#count{
    position: absolute;
    top: 19px;
    right: 6px;
    outline: none;
    width: 150px;
}
.buy a{
    float: left;
    border: 1px solid #1C4419;
    padding: 16px 60px;
    font-size: 18px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    z-index: -1;
}
.buy a:nth-child(1){
    margin-right: 16px;
    background-color: #1C4419;
    color: #fff;
}
.buy a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1C4419;
    transition: all .4s;
    z-index: -1;
}
.buy a:nth-child(1)::before{
    background-color: #fff;
}
.buy a:hover{
    color: #fff;
    transition: all .6s;
}
.buy a:nth-child(1):hover{
    color: #1C4419;
}
.buy a:hover::before{
    transform: translateY(-100%);
}

/*product*/
.prod_wrap{
    width: 1140px;
    text-align: center;
    border: 1px solid #333;
    border-top: none;
    border-bottom: none;
}
#prod{
    margin-top: 88px;
}
#prod p{
    margin: 10px 0 14px 0;
}
.prod_intro{
    padding: 20px 0;
}
.sub1_tit {
    font-size: 22px;
    text-shadow: 1px 1px 1px #0D482B;
    letter-spacing: 4px;
    padding: 10px 0;
}

/*tasting*/
#review{
    border-top: 1px dashed #333;
    margin-top: 40px;
    padding: 40px 0;
}
.inner_review{
    padding: 20px 0;
}
.review_list{
    text-align: left;
    width: 800px;
    margin: 0 auto;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
    line-height: 26px;
}

#question{
    padding-bottom: 80px;
}
.inner_quest{
    padding: 20px 0;
}
.quest_top{
    width: 800px;
    height: 30px;
    margin: 0 auto;
    padding: 5px 0;
    border: 2px solid orange;
    border-left: none;
    border-right: none;
}
.quest_top li{
    float: left;
    width: 25%;
    font-weight: bold;
}
.quest_list{
    width: 800px;
    height: 30px;
    margin: 0 auto;
    padding: 5px 0;
    border-bottom: 1px solid orange;
}
.quest_list li{
    float: left;
    width: 25%;
}
.quest_list li a:hover{
    color: orange;
}

/*footer*/
footer {
    background-color: rgba(233, 241, 230, 0.7);
    text-align: center;
    border-top: 2px solid #679267;
    color: rgba(#333, .5);
    font-size: 15px;
}

.inner_footer {
    width: 1320px;
    margin: 0 auto;
    height: 270px;
    padding: 20px;
    box-sizing: border-box;
}

.inner_footer li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 50px;
    text-align: left;
}

.inner_footer a {
    display: inline-block;
    color: rgba(#333, .5);
    margin: 4px 0;
}

.foot3 span {
    font-size: 24px;
    padding-left: 10px;
}

.foot3 .address {
    padding-top: 30px;
}

footer a:hover {
    color: #16a772;
    font-weight: bold;
}

.input_wrap {
    width: 200px;
    margin: 6px 0;
}

input {
    border: none;
    display: inline-block;
    padding: 6px 20px 6px 6px;
    outline: none;
}

.confetti_wrap {
    position: relative;
}

.confetti_wrap canvas {
    position: absolute;
    width: 400px;
    height: 400px;
    transform: translate(-57%, -50%);
    pointer-events: none;
}

.confetti {
    padding: 2px 16px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 30px;
    border: none;
    background-color: #65af8f;
    box-shadow: 2px 2px 1px #081b21;
    color: #ffffff;
}

.confetti:hover {
    transform: translate(2px);
    box-shadow: none;
}

.sns {
    padding-top: 16px;
}

.copyright {
    background-color: #679267;
    height: 30px;
    text-align: center;
    padding-top: 2px;
    box-sizing: border-box;
    font-size: 12px;
    color: rgba(255, 255, 255, .7);
}
